catkin_ws/devel/
catkin_ws/logs/
catkin_ws/build/
catkin_ws/bin/
catkin_ws/lib/
catkin_ws/install/

/Mid_term-Project/devel/
/Mid_term-Project/logs/
/Mid_term-Project/build/
/Mid_term-Project/bin/
/Mid_term-Project/lib/
/Mid_term-Project/install/


week-3/devel/
week-3/logs/
week-3/build/
week-3/bin/
week-3/lib/
week-3/install/


week4_Homework_1/devel/
week4_Homework_1/logs/
week4_Homework_1/build/
week4_Homework_1/bin/
week4_Homework_1/lib/
week4_Homework_1/install/


week5_Homework_2/devel/
week5_Homework_2/logs/
week5_Homework_2/build/
week5_Homework_2/bin/
week5_Homework_2/lib/
week5_Homework_2/install/

week6_Homework_3/devel/
week6_Homework_3/logs/
week6_Homework_3/build/
week6_Homework_3/bin/
week6_Homework_3/lib/
week6_Homework_3/install/


week7_Homework_4/devel/
week7_Homework_4/logs/
week7_Homework_4/build/
week7_Homework_4/bin/
week7_Homework_4/lib/
week7_Homework_4/install/