catkin_ws/devel/
catkin_ws/logs/
catkin_ws/build/
catkin_ws/bin/
catkin_ws/lib/
catkin_ws/install/

Mid_term-Project/smart_city/devel/
Mid_term-Project/smart_city/logs/
Mid_term-Project/smart_city/build/
Mid_term-Project/smart_city/bin/
Mid_term-Project/smart_city/lib/
Mid_term-Project/smart_city/install/


week-3/devel/
week-3/logs/
week-3/build/
week-3/bin/
week-3/lib/
week-3/install/


week4_Homework_1/catkin_ws/devel/
week4_Homework_1/catkin_ws/logs/
week4_Homework_1/catkin_ws/build/
week4_Homework_1/catkin_ws/bin/
week4_Homework_1/catkin_ws/lib/
week4_Homework_1/catkin_ws/install/


week5_Homework_2/catkin_ws/homework2_ws/devel/
week5_Homework_2/catkin_ws/homework2_ws/logs/
week5_Homework_2/catkin_ws/homework2_ws/build/
week5_Homework_2/catkin_ws/homework2_ws/bin/
week5_Homework_2/catkin_ws/homework2_ws/lib/
week5_Homework_2/catkin_ws/homework2_ws/install/

week6_Homework_3/catkin_ws/devel/
week6_Homework_3/catkin_ws/logs/
week6_Homework_3/catkin_ws/build/
week6_Homework_3/catkin_ws/bin/
week6_Homework_3/catkin_ws/lib/
week6_Homework_3/catkin_ws/install/


week7_homework_4/catkin_ws/homework4_ws/devel/
week7_homework_4/catkin_ws/homework4_ws/logs/
week7_homework_4/catkin_ws/homework4_ws/build/
week7_homework_4/catkin_ws/homework4_ws/bin/
week7_homework_4/catkin_ws/homework4_ws/lib/
week7_homework_4/catkin_ws/homework4_ws/install/